body {
    margin: 0;
    padding: 0;
    background-color: rgba(124, 112, 216, 0.462);
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    gap:20px
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.name, .text {
    padding: 30px;
    font-size: 32px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#about {
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects article {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#skills ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    border-radius: 5px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact label {
    margin: 5px 0;
}

#contact input, #contact textarea {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #projects article {
        width: 100%;
    }
}